<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">主页</a>
        </li>
        <li>
            <a href="#">{{title}}</a>
        </li>
    </ul>
</div>

<div class="page-body">
    <h5 class="row-title">
        <i class="typcn typcn-th-small"></i>用户信息管理
    </h5>

    <div class="row">
        <div class="col-sm-12">
            <div class="well with-header  with-footer">
                <div class="header bg-blue">
                    用户信息列表
                    <div class="text-right" style="float:right">
                        <span class="text-right"><button class="btn btn-primary" ng-click="add()">添加</button></span>
                    </div>
                </div>
                <div ng-if="!users">
                    <div style="width:100%;height:100%">
                        <img src="assets/img/loading2.gif" style="width:100%;height:100%" alt=""/>
                    </div>
                </div>

                <div ng-if="users">
                    <table class="table table-hover">
                        <thead class="bordered-darkorange">
                        <tr>
                            <th> id</th>
                            <th> 用户名</th>
                            <th> 密码</th>
                            <th> 操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td> {{user.id}}</td>
                            <td> {{user.userName}}</td>
                            <td> {{user.password}}</td>
                            <td>
                                <button class="btn btn-default btn-warning btn-xs" ng-click="remove(user.id)">删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-right">
                    <div class="dataTables_paginate paging_bootstrap" id="editabledatatable_paginate">
                        <ul class="pagination">
                            <li class="prev disabled"><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="next"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>