<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" href="/admin/assets/img/favicon.png"/>

    <link href="/admin/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/admin/assets/css/beyond.css" rel="stylesheet"/>
    <link href="/admin/assets/css/animate.css" rel="stylesheet">
    <link href="/admin/assets/css/font-awesome.css" rel="stylesheet"/>

    <!-- 中间加载条 -->
    <!--<link href="//cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-loading-bar.css" rel="stylesheet"/>-->
    <!--最上面加载 条-->
    <!--<link href="//cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-flat-top.css" rel="stylesheet"/>-->
    <!--弹弹球-->
    <link href="//cdn.bootcss.com/pace/1.0.2/themes/blue/pace-theme-bounce.css" rel="stylesheet"/>

</head>
<body>

<script src="/admin/assets/js/jquery-2.0.3.min.js"></script>
<script src="/admin/assets/js/bootstrap.js"></script>
<script src="/admin/assets/js/underscore-min.js"></script>
<script src="/admin/assets/js/skins.js"></script>
<script src="/admin/assets/js/beyond.js"></script>
<script src="/admin/assets/js/toastr/toastr.js"></script>


<script src="/admin/assets/js/pace.min.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="/" style="margin-top:5px;">TooNew博客</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <div class="nav navbar-nav navbar-right hidden-sm" style="margin:5px;">
                <form action="" class="form-inline">
                    <a href="/font_auth/login.do" class="btn btn-primary"> 登陆</a>
                    <a href="/font_auth/register.do" class="btn btn-success"> 注册</a>
                    <input type="text" class="form-control input-sm"/>
                    <button class="btn btn-default"> 搜索</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    {{{body}}}
</div>

<script>
    paceOptions = {
        // Disable the 'elements' source
        elements: true
    }
</script>

<script>
//    function load(time) {
//        var x = new XMLHttpRequest();
//        x.open('GET', "http://localhost:3001/font_auth/login.do", true);
//        x.send();
//    }
//
//    //    load(20);
//    //    load(100);
//    //    load(500);
//    //    load(2000);
//    load(9000);
//
//    setTimeout(function () {
//        Pace.ignore(function () {
//            load(9000);
//        })
//    }, 9000);
//
//    Pace.on('hide', function () {
//        console.log('done');
//    });

</script>

</body>
</html>
