doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button(type="button" data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle.collapsed
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href="http://www.bootcss.com" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])").navbar-brand.hidden-sm Bootstrap中文网
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.hidden-sm.hidden-md
                            a(href="http://v2.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])") Bootstrap2中文文档
                        li.hidden-sm.hidden-md
                            a(href="http://v2.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])") Bootstrap3中文文档
                        li.hidden-sm.hidden-md
                            a(href="http://v2.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])") Bootstrap4中文文档
                        li
                            a(href="/p/lesscss/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])") Less 教程
                        li
                            a(href="http://www.jquery123.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])") jQuery API
                        li
                            a(href="http://expo.bootcss.com" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'expo'])") 网站实例
                        li.fa.fa-fire.job-hot
                            a(href="http://www.liepin.com/event/bootstrap/index.shtml?mscid=b_o_0001" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-高薪工作'])") 高薪工作
                    ul.nav.navbar-nav.navbar-right.hidden-sm
                        li
                            a(href="/about/" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])") 关于

        block content

