<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link href="/admin/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/admin/assets/css/beyond.css" rel="stylesheet"/>
    <link href="/admin/assets/css/animate.css" rel="stylesheet">

</head>
<body>

<script src="/admin/assets/js/jquery-2.0.3.min.js"></script>
<script src="/admin/assets/js/bootstrap.js"></script>
<script src="/admin/assets/js/underscore-min.js"></script>
<script src="/admin/assets/js/skins.js"></script>
<script src="/admin/assets/js/beyond.js"></script>
<script src="/admin/assets/js/toastr/toastr.js"></script>
<script src="/admin/assets/js/way.js"></script>

{{{body}}}

</body>
</html>
