<div class="register-container animated fadeInDown">
    <form action="/font_auth/register.do" id="register" method="post">
        <div class="registerbox bg-white">
            <div class="registerbox-title">注册</div>

            <div class="registerbox-caption">请输入你的完整信息</div>
            <div class="registerbox-textbox">
                <input type="text" class="form-control" name="userName" placeholder="请输入用户名">
            </div>
            <div class="registerbox-textbox">
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
            <div class="registerbox-textbox">
                <input type="password" class="form-control" name="repassword" placeholder="请输入确认密码">
            </div>
            <hr class="wide">
            <div class="registerbox-textbox" style="margin-bottom:20px">
                <input type="email" class="form-control" name="email" placeholder="请输入邮箱">
                <button class="btn btn-default pull-right">验证</button>
            </div>
            <div class="registerbox-textbox">
                <input type="text" class="form-control" name="verificationCode" placeholder="请输入验证码">
            </div>
            <div class="registerbox-textbox no-padding-bottom">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="colored-primary" checked="checked">
                        <span class="text darkgray">我同意一下协议 <a class="themeprimary">TooNew服务</a> 和安全协议</span>
                    </label>
                </div>
            </div>
            <div class="registerbox-submit">
                <input type="submit" class="btn btn-primary pull-right" value="注册">
            </div>
        </div>
    </form>
</div>

<script>
    var map = {userName: "用户名", password: "密码", repassword: '确认密码', email: '邮箱', verificationCode: '验证码'};

    $("#register").submit(map, function (event) {
        var labelMap = event.data;
        var label = '';
        $(this).find(":text,:password").each(function () {
            if (!this.value) {
                label = labelMap[this.name];
                return false;
            }
        });
        if (label) {
            Notify(label + "不能为空!", 'top-right', '5000', 'danger', 'fa-bolt', true);
            return false;
        }
    });
</script>
